<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="test/bootstrap.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         preserveGlobalState="false"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         syntaxCheck="true"
         colors="true"
         verbose="true">

    <testsuites>
        <testsuite name="Kraken Unit Tests">
            <directory suffix="Test.php">test/_Unit</directory>
        </testsuite>

        <testsuite name="Kraken Module Tests">
            <directory suffix="Test.php">test/_Module</directory>
        </testsuite>

        <testsuite name="Kraken Integration Tests">
            <directory suffix="Test.php">test/_Integration</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
            <exclude>
                <directory suffix=".php">src/Test</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
