<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="test/bootstrap.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         syntaxCheck="true"
         colors="true"
         verbose="true">

    <testsuites>
        <testsuite name="KrakenPHP Unit Test Suite">
            <directory suffix="Test.php">test/Unit</directory>
        </testsuite>

        <testsuite name="KrakenPHP Integration Test Suite">
            <directory suffix="Test.php">test/Integration</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
